/ass/build/
/ass_2/nbproject/private/
/ass_2/build/
/kt/nbproject/private/
/kt/build/
/kt_1/nbproject/private/
/kt_1/build/
/baitap1/nbproject/private/
/baitap1/build/
/baitap1_2/nbproject/private/
/baitap1_2/build/
/ass_2_1/nbproject/private/
/ass_2_1/build/
/nhatro/nbproject/private/
/duankhachsan/nbproject/private/
/duankhachsan/build/
/duanmau/nbproject/private/
/duanmauuu/nbproject/private/
/duanmauuu/build/
